<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <el-button></el-button>
        <el-button></el-button>
        <el-button></el-button>
    </div>
</body>

<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript">
    // 创建组件  Vue.component()
    // 第一个参数是组件名称 第二个参数是对象 跟new Vue一样  不过data是个函数不是对象
    // 组件模板内容必须是单个跟元素 (不可以写两个兄弟元素,要最外面给个容器)
    // 组件模板内容可以是模板字符串
    // 相同组件可以创建多个 并且互不影响
    // 组件命名方式: 短横线 驼峰式

    // Vue.component('el-button', {
    //     data: function() {
    //         return {
    //             count: 0
    //         }
    //     },
    //     template: '<div><button @click="handle">点击了{{count}}次</button><button>测试</button></div>',
    //     methods: {
    //         handle() {
    //             this.count += 1
    //         }
    //     }
    // })

    Vue.component('el-button', {
        data: function() {
            return {
                count: 0
            }
        },
        template: `
        <div>
            <button @click="handle">点击了{{count}}次</button>
            <button>测试</button>
        </div>
        `,
        methods: {
            handle() {
                this.count += 1
            }
        }
    })



    var vm = new Vue({
        el: '#app',
        data: {
            msg: 'hello world'
        }
    })
</script>

</html>