<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <!-- 父组件的值传递了才可以使用 -->
        <menu-item :title='ptitle' content='这是传递一个静态值'></menu-item>


    </div>
    <div></div>
</body>

<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript">
    // 父组件在子组件的标签上以属性的形式传递
    // 子组件利用props接受
    Vue.component('menu-item', {
        data: function() {
            return {
                msg: '子组件本身的数据'
            }
        },
        props: ['title', 'content'],
        template: '<div>{{msg + "-----" + title + "-----" + content}}</div>',

    })

    var vm = new Vue({
        el: '#app',
        data: {
            ptitle: '来自父组件的值'
        },

    })
</script>

</html>